@media screen and (max-width: 1400px)
{ 
    /* Partie globale */
    header {
        flex-direction: column;
        width: 100%;
    }
    #corps {
        display: flex;
        flex-direction: column;
    }

    #bloc_droite {
        display: flex;
        flex-direction: column;
        }

    h2 {
        border: none
     }

    #dev{
        font-size: 0.7em
    } 
        
   


    /* Partie de gauche */

    /* Partie de droite */
    
    #bloc_droite {
        order: -1;
    }
}